.img{
   width: 80px;
   height: 80px;
   border: 2px solid black;   
} 

#box{
   height: 80px;
   width: 80px;
  
   
}

.center {
   display: flex;
   justify-content: center;
}

